html{
  height:100%;
  width:100%;
}
body{
    height:100%;
    width:100%;
    text-align: center;
}
.testBound{
    border:solid red 2px;
}
main {
height:100%
}
#sprite{
  display: block;
  --light: rgba(60, 168, 255, 0.5);
  --dark: rgba(7, 98, 228, 0.5);

  background:
    repeating-linear-gradient(
      45deg,
      var(--light) 0 7px,
      var(--dark) 25px 50px
    ),
    repeating-linear-gradient(
      -45deg,
      var(--light) 0 7px,
      var(--dark) 25px 50px
    );
    background-size: 70px 70px;
    animation-name: moveBG;
    animation-timing-function: linear;
    animation-duration: 32s;
    animation-iteration-count: infinite;
}
.spriteTitle{
  font-size:65px;
  color:white;
  text-shadow: 1px 1px 10px black;
}
@keyframes moveBG {
  from {
    background-position: 0 70px ;
  }
  to {
    background-position: 70px 0;
  }
}