html{
  height:100%;
  width:100%;
}
body{
    height:100%;
    width:100%;
    text-align: center;
}
@font-face{
  src:url("BACK\ TO\ SCHOOL.otf");
  font-family: "Dex";
}
.testBound{
    border:solid red 2px;
}
main {
height:100%
}
#sprite{
  display: block;
  --light: rgba(60, 168, 255, 0.5);
  --dark: rgba(7, 98, 228, 0.5);

  background:
    repeating-linear-gradient(
      45deg,
      var(--light) 0 7px,
      var(--dark) 25px 50px
    ),
    repeating-linear-gradient(
      -45deg,
      var(--light) 0 7px,
      var(--dark) 25px 50px
    );
    background-size: 70px 70px;
    animation-name: moveBG;
    animation-timing-function: linear;
    animation-duration: 32s;
    animation-iteration-count: infinite;
}
.spriteTitle{
  font-size:75px;
  color:transparent;
  background:linear-gradient(rgba(207, 71, 31),rgba(255, 225, 59));
  background-clip:text;
  filter:drop-shadow(1px 1px 10px black);
  /*font-family: "Dex";*/
  font-family: "Saira", sans-serif;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
}
@keyframes moveBG {
  from {
    background-position: 0 70px ;
  }
  to {
    background-position: 70px 0;
  }
}